<%# "http://todc.github.io/todc-bootstrap/components/" %>
<% first_movie = Movie.order("id asc").limit(1).first %>
<% last_movie = Movie.order("id desc").limit(1).first %>

<a href="<%= movie_path(1) %>" class="btn btn-primary" style="width: 20%"><i class="glyphicon glyphicon-fast-backward"></i><%= first_movie.original_name %></a>
<a href="<%= movie_path(@movie.previous_movie_id) %>" class="btn btn-primary" style="width: 20%"><i class="glyphicon glyphicon-step-backward"></i><%= @movie.previous_movie.original_name %></a>

<a href="<%= edit_movie_path(@movie.id) %>" class="btn btn-success" style="width: 20%"><i class="glyphicon glyphicon-edit"></i><%= @movie.original_name %></a>

<a href="<%= movie_path(@movie.next_movie_id) %>" class="btn btn-primary" style="width: 20%"><i class="glyphicon glyphicon-step-forward"></i><%= @movie.next_movie.original_name %></a>
<a href="<%= movie_path(last_movie.id) %>" class="btn btn-primary" style="width: 19%"><i class="glyphicon glyphicon-fast-forward"></i><%= last_movie.original_name %></a>

</br>